html {
	position: relative;
	min-height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

.element::-webkit-scrollbar {
	width: 0 !important;
}

body {
	background: rgb(24, 32, 55);
	background: linear-gradient(216deg, rgba(24, 32, 55, 1) 0%, rgba(14, 14, 17, 1) 100%);
	color: white;
}

main {
	padding-bottom: 50px;
}

a {
	text-decoration: none !important;
	color: white !important;
}

.footer {
	position: absolute;
	color: white;
	height: 50px;
	width: 100%;
	bottom: 0;
}

.logo {
	width: 50px;
	height: 50px;
}

.menu {
	display: flex;
	justify-content: center;
}

li {
	display: inline-block;
}

.topul {
	padding-inline-start: 0 !important;
}

.topli-one {
	font-size: 25px;
}

.topli-one:hover {
	transition: all 0.2s;
	filter: brightness(0.7);
}

.topli {
	font-size: 25px;
	margin-left: 30px;
}

.topli:hover {
	transition: all 0.2s;
	filter: brightness(0.7);
}

.welc {
	color: white;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	padding-top: 150px;
}

.title {
	font-size: 50px;
	font-weight: bold;
	padding: 50px 0 50px;
}

.icon {
	width: 40px;
	height: 40px;
}

.text {
	display: inline-block;
	font-size: 25px;
	text-align: center;
	line-height: 50px;
}

.contacticon {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

.contacticon:hover {
	transition: all 0.2s;
	filter: brightness(0.7);
}

.contacttxt {
	font-size: 20px;
}

.container {
	height: 100%;
	width: 100%;
}

.white-txt {
	color: white;
}
